@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Nunito+Sans:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman&display=swap");
@import "https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css";
#works .sliders .slide_left, #works .sliders .slide_right {
  display: block;
  height: 300px; }

#works .sliders .slide_left div:nth-child(1) img, #works .sliders .slide_right img {
  width: 220px;
  height: auto;
  z-index: 2;
  background-image: url(../images/back2.JPG);
  padding: 30px 20px; }

@media (min-width: 768px) {
  #works .sliders .slide_left div:nth-child(1) img, #works .sliders .slide_right img {
    width: 320px; } }

@media (min-width: 1024px) {
  #works .sliders .slide_left, #works .sliders .slide_right {
    height: 500px; }
  #works .sliders .slide_left div:nth-child(1) img, #works .sliders .slide_right img {
    width: 460px;
    padding: 60px 40px; } }

@media (min-width: 1440px) {
  #works .sliders .slide_left, #works .sliders .slide_right {
    height: 600px; }
  #works .sliders .slide_left div:nth-child(1) img, #works .sliders .slide_right img {
    width: 600px;
    padding: 100px 60px; } }

@keyframes SlideTopBottom {
  0% {
    opacity: 0;
    transform: translateY(-64px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes SlideBottomTop {
  0% {
    opacity: 0;
    transform: translateY(64px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes FadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes fadeleft {
  0% {
    opacity: 0;
    transform: translateX(0); }
  100% {
    opacity: 1;
    transform: translateX(-25%); } }

@keyframes rotate-z {
  0% {
    opacity: 0;
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(200deg);
    opacity: 1; } }

@-webkit-keyframes rotate-x {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(200deg);
    opacity: 1; } }

@keyframes hideLoading {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #262626; }

h1 {
  padding: 50px 0; }

h2 {
  font-family: 'Charmonman', cursive; }

h3 {
  font-size: 1em;
  font-weight: 100; }

h4 {
  font-size: .8em;
  font-weight: 400; }

h5 {
  font-size: .7em;
  font-weight: 100; }

h6 {
  font-size: .5em;
  font-weight: 300; }

p {
  font-size: .5em;
  font-weight: 300; }

li {
  list-style: none; }

a {
  color: #262626;
  text-decoration: none; }

hr {
  width: 80%;
  margin-top: 1em; }

@media (min-width: 768px) {
  section {
    height: 100%; } }

@media (min-width: 1024px) {
  h1 {
    font-size: 2em; }
  h4 {
    font-size: 1em;
    font-weight: 400; }
  h5 {
    font-size: .9em; }
  h6 {
    font-size: .8em;
    font-weight: 300; }
  p {
    font-size: .7em; } }

@media (min-width: 1440px) {
  h1 {
    font-size: 2em; }
  h4 {
    font-size: 1em;
    font-weight: 400; }
  h5 {
    font-size: 1.2em; }
  h6 {
    font-size: 1em;
    font-weight: 300; }
  p {
    font-size: 1em; } }

header {
  height: 100vh;
  z-index: 0; }

#hero {
  top: 0; }
  #hero .img_container {
    display: flex;
    justify-content: center; }
    #hero .img_container img {
      position: absolute;
      top: 70px;
      opacity: 0;
      width: 300px;
      height: auto;
      margin-top: 100px;
      z-index: 3;
      animation-name: SlideBottomTop;
      animation-duration: 3s;
      animation-delay: 6.5s;
      animation-fill-mode: forwards; }
  #hero .logo_container img {
    opacity: 0;
    position: absolute;
    top: 460px;
    right: -80px;
    width: 350px;
    z-index: 4;
    transform: rotate(90deg);
    animation-name: FadeIn;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-fill-mode: forwards; }
  #hero .circle {
    opacity: 0;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 0px;
    z-index: 1;
    animation-name: FadeIn;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards; }
  #hero .triangle {
    opacity: 0;
    position: absolute;
    top: 500px;
    left: 0px;
    animation: rotate-z 2s;
    -webkit-animation: rotate-z 2s;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    width: 320px; }

@media (min-width: 768px) {
  #hero .img_container img {
    top: 50px;
    width: 450px; }
  #hero .logo_container img {
    width: 500px;
    top: 450px;
    left: 80px;
    transform: rotate(0deg); }
  #hero .circle {
    width: 350px;
    height: 350px;
    top: 480px;
    right: 0px; }
  #hero .triangle {
    position: absolute;
    transform: rotate(-10deg);
    width: 300px;
    top: 500px;
    left: 200px; } }

@media (min-width: 1024px) {
  #hero .img_container {
    justify-content: flex-end; }
    #hero .img_container img {
      width: 450px;
      top: 170px;
      right: 60px; }
  #hero .logo_container img {
    right: 0;
    top: 460px; }
  #hero .circle {
    width: 400px;
    height: 400px;
    top: 320px;
    right: 400px; }
  #hero .triangle {
    width: 400px;
    top: 80px;
    left: 200px; } }

@media (min-width: 1440px) {
  #hero .img_container {
    margin-right: 200px;
    padding-top: 300px; }
    #hero .img_container img {
      width: 800px;
      right: 150px; }
  #hero .logo_container img {
    top: 600px;
    left: 180px;
    width: 850px; }
  #hero .circle {
    width: 600px;
    height: 600px;
    top: 550px;
    left: 400px; }
  #hero .triangle {
    width: 700px;
    top: 100px;
    left: 500px; } }

#sidebar {
  position: fixed;
  width: 50px;
  height: 100vh; }
  #sidebar .sidebar_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 17px;
    z-index: 9999; }
    #sidebar .sidebar_container ul {
      display: flex;
      flex-direction: column;
      padding-top: 200px; }
      #sidebar .sidebar_container ul li {
        padding-bottom: 10px; }
  #sidebar p {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl; }

.open {
  width: 50px;
  position: fixed;
  top: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
  z-index: 100; }
  .open:hover {
    opacity: 0.8; }
  .open span {
    display: block;
    clear: both;
    height: 2px;
    width: 40px;
    background-color: #262626;
    position: absolute;
    overflow: hidden;
    transition: all 0.4s ease; }
    .open span:nth-child(1) {
      margin-top: 10px;
      z-index: 9; }
    .open span:nth-child(2) {
      margin-top: 25px; }
    .open span:nth-child(3) {
      margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(250, 229, 136, 0.612);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden; }
  .sub-menu li {
    padding-right: 70px;
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px; }
    .sub-menu li:first-child {
      margin-top: 180px; }
    .sub-menu li:nth-child(1) {
      -webkit-transition-delay: 0.05s; }
    .sub-menu li:nth-child(2) {
      -webkit-transition-delay: 0.10s; }
    .sub-menu li:nth-child(3) {
      -webkit-transition-delay: 0.15s; }
    .sub-menu li:nth-child(4) {
      -webkit-transition-delay: 0.20s; }
    .sub-menu li:nth-child(5) {
      -webkit-transition-delay: 0.25s; }
    .sub-menu li a {
      font-size: 16px;
      width: 100%;
      display: block;
      float: left;
      line-height: 40px; }

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px; }

.oppenned span:nth-child(2) {
  overflow: visible; }

.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg); }

.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(250, 229, 136, 0.612); }

.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li {
  margin-right: 168px; }

#aboutme {
  width: 100%;
  height: 100vh;
  padding-left: 50px;
  padding-bottom: 20px;
  overflow: hidden; }
  #aboutme .img_container img {
    width: 375px;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 44% 100%, 44% 89%, 0 89%, 0 0); }
  #aboutme h1 {
    padding-top: 60px; }
  #aboutme h5 {
    text-align: center;
    padding: 0 20px; }
  #aboutme .profile {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1.3em;
    margin-top: 50px; }
    #aboutme .profile div {
      width: 100px; }
    #aboutme .profile h6:nth-child(1) {
      margin-bottom: 2px;
      margin-top: 20px; }
    #aboutme .profile h6:nth-child(2) {
      padding-top: 5px;
      border-top: 1px solid #c4c4c4; }

@media (min-width: 768px) {
  #aboutme .img_container {
    display: flex;
    justify-content: flex-end; }
    #aboutme .img_container img {
      width: 550px; }
  #aboutme .container {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 50px; }
    #aboutme .container h5 {
      width: 50%; }
    #aboutme .container .profile {
      margin-top: 0px;
      grid-column-gap: 2em; }
      #aboutme .container .profile div {
        width: 100px;
        margin-bottom: 15px; }
      #aboutme .container .profile h6:nth-child(1) {
        margin-top: 0px; } }

@media (min-width: 1024px) {
  #aboutme .img_container img {
    width: 600px; }
  #aboutme h1 {
    padding: 30px 0; }
  #aboutme .container h5 {
    width: 50%; }
  #aboutme .container .profile {
    grid-column-gap: 3em; }
    #aboutme .container .profile div {
      width: 150px;
      margin-bottom: 15px; }
    #aboutme .container .profile h6:nth-child(2) {
      padding-left: 30px; } }

@media (min-width: 1440px) {
  #aboutme .img_container img {
    width: 900px; }
  #aboutme h1 {
    padding-bottom: 60px; }
  #aboutme .aboutme_container {
    padding: 0 200px; }
  #aboutme .container h5 {
    width: 50%; }
  #aboutme .container .profile {
    grid-column-gap: 5em; }
    #aboutme .container .profile div {
      width: 250px;
      margin-bottom: 30px; }
    #aboutme .container .profile h6:nth-child(1) {
      margin-top: 0px; } }

#works {
  height: 100%;
  padding: 20px 50px 0 50px;
  background: #EFEFEF;
  z-index: 5;
  overflow: hidden; }
  #works .sliders {
    min-height: 100%; }
    #works .sliders .slide_left div:nth-child(1) {
      display: flex; }
    #works .sliders .slide_left .work_title {
      writing-mode: vertical-rl;
      margin-top: 20px; }
    #works .sliders .slide_left .work_date {
      writing-mode: vertical-rl;
      margin-top: -30px;
      margin-left: 60px; }
    #works .sliders .slide_left .text_container {
      text-align: left; }
    #works .sliders .slide_right .work_container {
      display: flex;
      flex-flow: row-reverse; }
      #works .sliders .slide_right .work_container .work_title {
        writing-mode: vertical-lr;
        margin-top: 20px;
        margin-right: 30px; }
      #works .sliders .slide_right .work_container .work_date {
        writing-mode: vertical-lr;
        margin-top: -30px;
        margin-right: 60px; }
    #works .sliders .slide_right .text_container {
      text-align: right; }

@media (min-width: 1440px) {
  #works {
    padding: 20px 200px; } }

#blogs {
  padding: 20px 50px 50px 50px; }
  #blogs .blog {
    height: 110px;
    padding-left: 20px; }
    #blogs .blog div:nth-child(1) {
      display: flex;
      align-items: flex-end; }
      #blogs .blog div:nth-child(1) .blog_cat {
        padding-left: 20px;
        padding-bottom: 2px; }
    #blogs .blog .blog_title {
      margin: 10px 0px;
      padding-left: 10px; }

@media (min-width: 1024px) {
  #blogs {
    padding: 20px 100px 50px 100px; }
    #blogs .blog .blog_title {
      padding-left: 30px; } }

footer {
  padding: 0 50px;
  position: relative; }
  footer img {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 150px; }
  footer .fot_container {
    background-color: #EFEFEF;
    padding: 250px 0;
    text-align: center; }
  footer h6 {
    text-align: right;
    margin-top: 20px; }

@media (min-width: 768px) {
  footer {
    padding: 0 100px; }
    footer img {
      top: -30px;
      left: 40px;
      width: 200px; }
    footer .fot_container {
      padding: 120px 0; } }

@media (min-width: 768px) {
  footer img {
    left: 60px; } }

.sq1_container {
  position: relative;
  width: 100%; }
  .sq1_container .sq1 {
    position: absolute;
    top: 200px;
    left: -50px;
    transform: rotate(50deg);
    width: 200px;
    z-index: 0; }

.sq2_container {
  position: relative;
  width: 100%; }
  .sq2_container .sq2 {
    position: absolute;
    top: -20px;
    right: 0px;
    transform: rotate(50deg);
    width: 120px;
    z-index: 0; }

@media (min-width: 1440px) {
  .sq1_container .sq1 {
    width: 400px; }
  .sq2_container {
    width: 100%; }
    .sq2_container .sq2 {
      width: 200px; } }

#loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none; }
  #loading video {
    width: 200px; }

.loaded {
  animation: hideLoading 1s linear 0s;
  animation-fill-mode: forwards; }

@media (min-width: 768px) {
  .loadning video {
    width: 500px; } }

@media (min-width: 768px) {
  #loading video {
    width: 500px; } }

@media (min-width: 768px) {
  #loading video {
    width: 500px; } }
