#aboutme {
  width: 100%;
  height: 100vh;
  padding-left: 50px;
  padding-bottom: 20px;
  overflow: hidden;

  .img_container {
    img {
      width: 375px;
      clip-path: polygon(50% 0%, 100% 0, 100% 100%, 44% 100%, 44% 89%, 0 89%, 0 0);
    }
  }

  h1 {
    padding-top: 60px;
  }

  h5 {
    text-align: center;
    padding: 0 20px;
  }

  .profile {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1.3em;

    margin-top: 50px;

    div {
      width: 100px;
      // display: flex;
      // flex-direction: column;
    }

    h6 {
      &:nth-child(1) {
        margin-bottom: 2px;
        margin-top: 20px;
      }
      &:nth-child(2) {
        padding-top: 5px;
        border-top: 1px solid $color-gray-darker;
      }
    }
  }


}

@media (min-width: 768px) {
  #aboutme {

    .img_container {
      display: flex;
      justify-content: flex-end;

      img {
        width: 500px;
      }
    }

    .container {
      display: flex;
      justify-content: space-between;
      padding-right: 100px;
      padding-left: 50px;

      h5 {
        width: 50%;
      }

      .profile {
        margin-top: 0px;
        grid-column-gap: 2em;

    
        div {
          width: 100px;
          margin-bottom: 15px;
        }
    
        h6 {
          &:nth-child(1) {
            margin-top: 0px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  #aboutme {

    .img_container {
      img {
        width: 500px;
      }
    }

    h1 {
      padding: 30px 0;
    }

    .container {
      h5 {
        width: 50%;
      }

      .profile {
        grid-column-gap: 3em;
    
        div {
          width: 150px;
          margin-bottom: 15px;
        }
    
        h6 {
          &:nth-child(2) {
            padding-left: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  #aboutme {

    .img_container {
      img {
        // width: 900px;
        width: 600px;
      }
    }

    h1 {
      padding-bottom: 60px;
    }

    .aboutme_container {
      // padding: 0 200px;
      padding: 0 100px;

    }

    .container {
      // display: block;
      padding-right: 0px;
      padding-left: 0px;
      h5 {
        width: 50%;
      }

      .profile {
        grid-column-gap: 5em;
    
        div {
          // width: 250px;
          width: 200px;
          margin-bottom: 30px;
        }
    
        h6 {
          &:nth-child(1) {
            margin-top: 0px;
          }
        }
      }
    }
  }
}