.sq1_container {
  position: relative;
  width: 100%;

  .sq1 {
    position: absolute;
    top: 0px;
    left: -50px;

    transform: rotate(50deg);
    width: 200px;
    z-index: 0;
  }
}

.sq2_container {
  position: relative;
  width: 100%;

  .sq2 {
    position: absolute;
    top: -20px;
    right: 0px;

    transform: rotate(50deg);
    width: 120px;
    z-index: 0;
  }
}

@media (min-width: 1440px) {
  .sq1_container {
    .sq1 {
      width: 400px;
    }
  }

  .sq2_container {
    width: 100%;
  
    .sq2 {
      width: 200px;
    }
  }
}