*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: $color-font;
}

h1 {
  padding: 50px 0;
}

h2 {
  font-family: 'Charmonman', cursive;
}

h3 {
  font-size: 1em;
  font-weight: 100;
}

h4 {
  font-size: .8em;
  font-weight: 400;
}

h5 {
  font-size: .7em;
  font-weight: 100;
}

h6 {
  font-size: .5em;
  font-weight: 300;
}

p {
  font-size: .5em;
  font-weight: 300;
}

li {
  list-style: none;
}

a { 
  color: $color-font;
	text-decoration: none;
}

hr {
  width: 80%;
  margin-top: 1em;
}

@media (min-width: 768px) {
  section {
    height: 100%;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2em;
  }

  h4 {
    font-size: 1em;
    font-weight: 400;
  }

  h5 {
    font-size: .9em;
  }

  h6 {
    font-size: .8em;
    font-weight: 300;
  }
  
  p {
    font-size: .7em;

  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 2em
  }

  h2 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1em;
    font-weight: 400;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1em;
    font-weight: 300;
  }
  
  p {
    font-size: 1em;
  }
}
