*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: $color-font;
}

h1 {
  padding: 50px 0;
}

h2 {
  font-family: 'Charmonman', cursive;
}

h3 {
  font-size: 1em;
  font-weight: 100;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

h5 {
  font-size: .7em;
  font-weight: 100;
}

h6 {
  font-size: .5em;
  font-weight: 300;
}

p {

}

li {
  list-style: none;
}

a{ 
  color: $color-font;
	text-decoration: none;
}

hr {
  width: 80%;
  margin-top: 1em;
}

section {

}

@media (min-width: 768px) {
  section {
    height: 100%;
    // padding: 0 100px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2em
  }

  h5 {
    font-size: .9em;
  }

  h6 {
    font-size: .8em;
    font-weight: 300;
  }
  
  p {
  
  }

}

