#blogs {
  // height: 60vh;
  padding: 20px 50px 50px 50px;

  .blog {
    height: 110px;
    padding-left: 20px;

    div:nth-child(1) {
      // position: relative;
      display: flex;
      align-items: flex-end;

      .blog_cat {
        padding-left: 20px;
        padding-bottom: 2px;
      }
    }
    
    .blog_title {
      margin: 10px 0px;
      padding-left: 10px;
    }
  }
}

@media (min-width: 1024px) {
  #blogs {
    padding: 20px 100px 50px 100px;
  
    .blog {
      .blog_title {
        padding-left: 30px;
      }
    }
  }
}

