%slide {
  display: block;
  height: 300px;
}

%slide_img {
  width: 220px;
  height: auto;
  z-index: 2;
  background-image: url(../images/back2.JPG);
  padding: 30px 20px;
}

@media (min-width: 768px) {
  %slide_img {
    width: 320px;
  }
}

@media (min-width: 1024px) {
  %slide {
    height: 500px;
  }

  %slide_img {
    width: 460px;
    padding: 60px 40px;
  }
}

@media (min-width: 1440px) {
  %slide {
    height: 600px;
  }

  %slide_img {
    width: 600px;
    padding: 100px 60px;
  }
}


