header {
  height: 100vh;
  z-index: 0;
}

#hero {
  top: 0;
  
  .img_container {
    display: flex;
    justify-content: center;

    img {
      position: absolute;
      top: 70px;
      opacity: 0;
      width: 300px;
      height: auto;
      margin-top: 100px;
      z-index: 3;
      animation-name: SlideBottomTop;
      animation-duration: 3s;
      animation-delay: 6.5s;
      animation-fill-mode: forwards
    }
  }

  .logo_container {
    img {
      opacity: 0;
      position: absolute;
      top: 460px;
      right: -80px;
      width: 350px;
      z-index: 4;
      transform: rotate(90deg);
      animation-name: FadeIn;
      animation-duration: 2s;
      animation-delay: 6s;
      animation-fill-mode: forwards;
    }
  }

  .circle {
    opacity: 0;
    border: 1px solid $color-gray-darker;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: inline-block;

    position: absolute;
    top: 45%;
    right: 0px;
    z-index: 1;

    animation-name: FadeIn;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
  }

  .triangle {
    opacity: 0;
    position: absolute;
    top: 500px;
    left: 0px;
    animation:rotate-z 2s;
    -webkit-animation:rotate-z 2s;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

    width: 320px;
  }
  
}

@media (min-width: 768px) {
  #hero {
    .img_container {

      img {
        top: 50px;
        width: 450px;
      }
    }

    .logo_container {
      img {
        width: 500px;
        top: 450px;
        left: 80px;
        transform: rotate(0deg);
      }
    }

    .circle {
      width: 350px;
      height: 350px;
      top: 480px;
      right: 0px;
    }

    .triangle {
      position: absolute;
      transform: rotate(-10deg);
      width: 300px;
      top: 500px;
      left: 200px;
    }
  }
}

@media (min-width: 1024px) {
  #hero {
    .img_container {
      justify-content: flex-end;

      img {
        width: 450px;
        top: 170px;
        right: 60px;

      }
    }

    .logo_container {
      img {
        right: 0;
        top: 460px;
      }
    }

    .circle {
      width: 400px;
      height: 400px;
      top: 320px;
      right: 400px;
    }

    .triangle {
      width: 400px;
      top: 80px;
      left: 200px;
    }
  }
}

// @media (min-width: 1440px) {
//   #hero {
//     .img_container {
//       margin-right: 200px;
//       padding-top: 300px;

//       img {
//         width: 800px;
//         right: 150px;
//       }
//     }

//     .logo_container {
//       img {
//         top: 600px;
//         left: 180px;
//         width: 850px;
//       }
//     }

//     .circle {
//       width: 600px;
//       height: 600px;
//       top: 550px;
//       left: 400px;

//     }

//     .triangle {
//       width: 700px;
//       top: 100px;
//       left: 500px;
//     }
//   }
// }
@media (min-width: 1440px) {
  #hero {
    .img_container {
      // margin-right: 200px;
      // padding-top: 0px;

      img {
        width: 600px;
        top: 140px;
        right: 150px;
      }
    }

    .logo_container {
      img {
        top: 550px;
        left: 130px;
        width: 750px;
      }
    }

    .circle {
      width: 500px;
      height: 500px;
      top: 350px;
      left: 300px;
    }

    .triangle {
      width: 500px;
      top: 100px;
      left: 300px;
    }
  }
}