#loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;


  video {
    width: 200px;
  }
}

.loaded {
  animation: hideLoading 1s linear 0s;
  animation-fill-mode: forwards;
}

@media (min-width: 768px) {
  .loadning {
    video {
      width: 500px;
    }
  }
}

@media (min-width: 768px) {
  #loading {
    video {
      width: 500px;
    }
  }
}


@media (min-width: 768px) {
  #loading {
    video {
      width: 500px;
    }
  }
}