#works {
  height: 100%;
  padding: 20px 50px 0 50px;
  background: $color-gray-lighter;
  // clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 30%);
  z-index: 5;
  overflow: hidden;


  .sliders {
    min-height: 100%;
    
    .slide_left {
      @extend %slide;

      div{
        &:nth-child(1) {
          display: flex;
          img {
            @extend %slide_img;
          }
        }
      }

      .work_title {
        writing-mode: vertical-rl;
        margin-top: 20px;
        // margin-left: 70px;
      }

      .work_date {
        writing-mode: vertical-rl;
        margin-top: -30px;
        margin-left: 60px
      }

      .text_container {
        text-align: left;
      }
    }

      // --------------------------- right 
      .slide_right {
        @extend %slide;
  
        .work_container {
          display: flex;
          flex-flow: row-reverse;
          .work_title {
            writing-mode: vertical-lr;
            margin-top: 20px;
            margin-right: 30px;

          }
    
          .work_date {
            writing-mode: vertical-lr;
            margin-top: -30px;
            margin-right: 60px
          }
        }

        img {
          @extend %slide_img;
        }
  
        .text_container {
          text-align: right;
        }
      }
  }
}

@media (min-width: 1440px) {
  #works {
    padding: 20px 200px;
  }
}